.c1, .c2, .c3, .c4, .c5{
    background-color :rgba(0, 0, 0, 0.493);
    color: white;
    padding: 15px;
    font-size: 20px;
    min-width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c1{
    position: absolute;
    top: 0;
    left: 0;
}

.c2{
    position: absolute;
    top: 0;
    right: 0;
}

.c3{
    position: absolute;
    bottom: 0;
    left: 0;
}

.c4{
    position: absolute;
    bottom: 0;
    right: 0;
}

.c5{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: transparent;

}